
* {
	box-sizing:border-box;
	margin:0px;
	padding:0px;
}

.bg-footer{
    background-color: #3a546d;
}

.bg-underfooter {
	background-color: #2c3e50;
}

header {
	background-color: #2c3e50;
    color: white;
}

.titlenav{
    font-size: 1.5rem;
}


nav ul {
    list-style-type: none;   
}

nav ul li{
    display: inline-block;
    text-decoration: none;
}

nav ul li a{
    color: white;
    text-decoration: none;
}


.sectionone{
    background-color:#1abc9c ;
    color: white;
}

.sectionone img{
    width: 190px ;
}

.star{
    color: yellow;
    font-size: x-large;
    text-align: center;
  }

.star:before,
.star:after {
    background-color: yellow;
    content: "";
    display: inline-block;
    height: 5px;
    position: relative;
    vertical-align: middle;
    width: 50px;
  }
  
.star:before {
    right: 1em;
    margin-left: -50%;
  }
  
.star:after {
    left: 1em;
    margin-right: -50%;
  }
  
.sectiontwo img{
    width: 400px;
    padding: 5%;
    border-radius: 15%;
}

.sectionthree{
    background-color:#1abc9c ;
    color: white;
}

.sectionthree img{
    width: 400px;  
}

.sectionthree button{
    padding: 8px 0px;
    width: 150PX;
    background-color: transparent;
    border: 0.5px solid white;
    color: white;
    font-weight: bold;
}

.sectionthree button i{
    padding: 5%;
}

form {
    font-size: 1.2rem;
    font-weight: bold;
}

.form-group {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.form-group1{
    border-top: 1px solid black;
}

footer{
    background-color: #3a546d;
    color: white;
}

footer a{
    color: white;
}

footer p{
    font-size: 1.0rem;
    font-weight: 600;
}